.Hot-coins {
  background: linear-gradient(
    180deg,
    rgba(187, 75, 215, 0.0819) 0%,
    rgba(187, 75, 215, 0.0221) 100%
  );
  padding: 10px;
  color: #725f7d;
  font-size: 10px;
  font-size: bold;
  border-radius: 18px 18px 0px 0px;
}
.hot-coins-container .hot-coin-header {
  display: flex;
  width: 100%;
}

.hot-coins-container .hot-coin-header .name1 {
  width: 100%;
  padding-left: 10px;
}

.hot-coins-container .hot-coin-header .name {
  width: 100%;
  text-align: center;
}
.hot-coin-content {
  padding: 6px 0px;
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 900;
  color: rgb(228, 220, 226);
}
.hot-coin-content .coin-name {
  width: 100%;
  text-align: center;
  font-size: 11.2px;
}

.coin-name p:first-child, .coin-name1 p {
  color: white;
}
.hot-coin-content .coin-name button {
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 10px;
}

.hot-coin-content .coin-name .positive {
  background: green;
}
.hot-coin-content .coin-name .negative {
  background: red;
}

.hot-coin-content .coin-name1 {
  width: 100%;
  padding-left: 10px;
}
.coin-nams svg  {
  color: #F7931A;
}


@media only screen  and (max-width: 600px)  {
  .home-main-trade-wrapper {
    margin: 20px -19px 0 -19px;
    width: 107%;
  }

  .Hot-coins, .hot-coins-container {
    background: #240426;
  }

  .Hot-coins{
    border-top-right-radius: 30px;
    padding: 10px 22px 10px 10px;
  }
}

@media only screen  and (max-width: 420px)  {
  .home-main-trade-wrapper {
    width: 111%;
  }
}