.login-page{
  position: relative;
}
.login-page-inner{
  position: relative;
}
.arrow{
  margin: 25px;
}
.welcome{
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 35px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(177, 182, 187);
}
.login-signup{
  margin: 0;
  margin-top: 40px;
  margin-left: 50px;
  width: 75%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(73, 1, 49);
  border-radius: 20px;
  font-size: 11px;
  color: beige;
}
.login-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-color: transparent;
}
.signup-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  background-color: transparent;
}
.login.active{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: #731A8A;
  border: 3px solid #7B1D94;
  border-radius: 20px;
  font-size: 11px;
  color: beige;
}
.login-slide{
  padding: 5px;
  margin: 13px;
}
.email{
  display: flex;
  align-items: center;
}
.email h3{
  font-size: 12px;
  font-weight: 400;
  color: antiquewhite;
}
.input-login{
  margin: 9px;
  border: 1px solid #7B1D94;
  border-radius: 20px;
}
.input-login input{
  background-color: transparent;
  width: 85%;
  height: 100%;
  border: none;
  margin: 0;
  margin-left: 6px;
  top: 4px;
  color: #878787;
  outline: none;
}
.input-login input::placeholder{
  color: #878787;
}
.forgot-pas{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.forgot-pas h3{
  font-size: 11px;
  font-weight: 500;
  color: rgb(95, 93, 90);
}
.login-btn{
  margin: auto;
  width: 70%;
  height: 26px;
  background: #731A8A;
  border-radius: 20px;
  border: none;
  color: antiquewhite;
  font-size: 9px;
}
.login-btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
}
.login-or{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: antiquewhite;
  margin: 0;
  margin-top: 13px;
}
.login-or h1{
  font-size: 11px;
}
.login-or h4{
  font-size: 9px;
}
